@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');


body{
  font-family: Prompt,sans-serif;
}

*{
  font-family: Prompt,sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Chonburi', cursive;
  color: #1c4e84;
  position: relative;
}

a{
  font-family: Prompt,sans-serif;
}

.tab-content {
  font-family: Prompt,sans-serif;
}

.nav-link{
  font-family: Prompt,sans-serif;
}

/* .card-title-2{
  font-family: Prompt,sans-serif;
  font-size: 24px;
  height: 52px;
  line-height: 26px;
  margin-bottom: 16px;
  font-weight: 600;
  
} */
.card-title ,h5{
  font-family: Prompt,sans-serif;
  font-size: 16px;
  height: 52px;
  line-height: 26px;
  margin-bottom: 16px;
  font-weight: 600;  
} 


.card-text .text-muted{
  font-family: Prompt,sans-serif;
  font-size: 0.75rem;
}

.bi {
  max-width: 0.75rem; 
}

.card-body{
  box-shadow: 0px 10px 13px 0px rgba(0,0,0,0.1);
  border: none;
}

.btn-all {
  border-color: #1c4e84;
  border-radius: 0;
  border: 0.125rem solid;
  box-shadow: none;
  color: #1c4e84;
  background-color: transparent;
  cursor: pointer;
  font-family: Prompt,sans-serif;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-all .bi {
  color: #1c4e84;
  font-size: 1.125rem;
  margin-left: 0.5rem;
  width: 0.875em;
  font-weight: 700;
  overflow: visible;
}

.label{
  font-family: Prompt,sans-serif;
  font-weight: 800;
  margin-top: 1rem;
}

.desc{
  font-family: Prompt,sans-serif;
  font-weight: 300;
}

#news-new h4{
  font-size: 1.125rem;
  font-weight: 700;
} 
#card-news-new{
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
}

.nav-tabs .nav-link.active{
  color: #1c4e84;
  font-weight: 700;
}
.nav-tabs .nav-link{
  color: #9E9E9E;
  font-weight: 700;

}