{% extends "base.html" %}

{% block title%}
<title>แก้ไข</title>
{% endblock %}

{% block content%}

<h2 class="text-center">แก้ไข</h2>


<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">ชื่อ</label>
        <input type="text" name="name" class="form-control" value="{{person.name}}">
    </div>
    <div class="form-group mb-3">
        <label for="age">อายุ</label>
        <input type="number" name="age" class="form-control" value="{{person.age}}">
    </div>
    <input type="submit" value="บันทึกข้อมูล" class="btn btn-success">

</form>
{% endblock %}