@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

h1{
  font-family: 'Chonburi', cursive;
}

a{
  font-family: Prompt,sans-serif;
}

.tab-content {
  font-family: Prompt,sans-serif;
}
.nav-link{
  font-family: Prompt,sans-serif;
}
h5 .Card-title{
  font-family: Prompt, sans-serif;
}